{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h2>Endereçar Produto</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}

            <div class="form-group">
              <label for="{{ form.produto.id_for_label }}">Produto:</label>
              {{ form.produto }}
            </div>

            <div class="form-group">
              <label for="{{ form.rua.id_for_label }}">Rua:</label>
              {{ form.rua }}
            </div>

            <div class="form-group">
              <label for="{{ form.andar.id_for_label }}">Andar:</label>
              {{ form.andar }}
            </div>

            <div class="form-group">
              <label for="{{ form.prateleira.id_for_label }}">Prateleira:</label>
              {{ form.prateleira }}
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
